.catogery {
    font-size: 12px;
    background-color: #fff;
    text-align: center;
    height: 110px;
}

.catogery img {
    width: 65px;
    height: 65px;
    display: block;
    margin: auto;
}
.dropdown:hover .dropdown-menu {
    display: block;
}