.nav-item-align {
    height: 56px;
}
.nav-img-container {
    text-align : end;
    margin-left: 40px;
    font-size:11px;
}
.nav-img {
    height : 20px;
}
.nav-dropdown {
    padding: 2px 5px;
    border-radius: 0;
}
.become-seller {
    text-align: center;
    margin: -10px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.logo-text {
    color: gold;
}
.logo-text2 {
    color: white;
}
.input {
    height: 36px;
    font-size:13px;
}
a {
    color: white;
    text-decoration: none;
}
