<div class="row p-2 bg-primary align-items-center nav-item-align">
    <div class="col-2 p-0 align-self-start nav-img-container">
        <img height="20px"
            src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/flipkart-plus_8d85f4.png">
        <br><i><span class="logo-text2">Explore </span><span class="logo-text">Plus</span><img
                src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/plus_aef861.png"
                width="10"></i>
    </div>
    <div class="col-4">

        <input class="w-100 col-2 input " type="search" name="search "
            placeholder="Search for products, brands and more">
    </div>
    <div class="col-1 p-0 m-0 dropdown">
        <button class="w-100 btn bg-white text-primary align-self-center nav-dropdown"
            data-bs-toggle="dropdown">
            <ul class="dropdown-menu">
                <li class="dropdown-item">My profile</li>
                <li>
                    <hr class=" dropdown-divider">
                </li>
                <li class="dropdown-item">FlipKart Plus Zone</li>
                <li>
                    <hr class=" dropdown-divider">
                </li>
                <li class="dropdown-item">Order</li>
                <li>
                    <hr class=" dropdown-divider">
                </li>
                <li class="dropdown-item">Wishlist</li>
            </ul>
            <a class="text-primary" href = "#">Login</a>
        </button>
    </div>
    <div class="col-2 p-2 text-white become-seller">
        <a href = "#">Become a Seller</a>
    </div>
    <div class="col-1 text-white dropdown">
        <div class="text-white dropdown-toggle" data-bs-toggle="dropdown">
            <ul class="dropdown-menu">
                <li class="dropdown-item">Notification preferences</li>
                <li>
                    <hr class=" dropdown-divider">
                </li>
                <li class="dropdown-item">24X7 Customer care</li>
                <li>
                    <hr class=" dropdown-divider">
                </li>
                <li class="dropdown-item">Advertise</li>
                <li>
                    <hr class=" dropdown-divider">
                </li>
                <li class="dropdown-item">Download App</li>
            </ul>
            <a href = "#">More</a>
        </div>
    </div>
    <div class="col-1 text-white">
        <svg class="V3C5bO" width="14" height="14" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path class="_1bS9ic"
                d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86"
                fill="#fff"></path>
        </svg>
        <a (click) = "ToCart()">Cart</a>
    </div>
</div>