.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: black;
}
.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 100px;
    background-color: white;
    opacity: 1;
    top: 30%;
    border-radius: 5px;
}
.carousel-inner-height {
    height: 280px;
}
.carousel-button {
    font-size: 25px;
    color: black;
}