.product-container {
    padding: 0 10px 20px 20px;
}
.product-bg {
    background-color: #fff;
}
.tab4-item {
    text-align: center;
    padding-left: 0;
}
.tab4-item-h {
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 30px;
}
.tab4-item-button {
    border-radius: 0;
    font-size: 12px;
    padding: 10px 15px;
}
.price-color {
    color:green;
}
.product-name-size {
    font-size: 13px;
}
.product-company {
    color: gray;
    font-size: 13px;
}
.product-padding1 {
    padding-top: 20px;
}
.product-padding2 {
    padding-top: 40px;
}
.product-padding3 {
    padding-top: 50px;
}
.img {
    max-width: 100%;
    height: 143px;
}
.bottom img{
    padding-top: 30px;
}
.carousel-button {
    font-size: 25px;
    color: black;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: black;
}
.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 100px;
    background-color: white;
    opacity: 1;
    top: 30%;
    border-radius: 5px;
}