<div>
    <ul class = "nav justify-content-center align-items-center">
        <li class="col-4"><a href = "#">Home</a></li>
        <li class="col"><a href = "#">Instagram</a></li>
        <li class="col"><a href = "#">Twitter</a></li>
        <li class="col"><a href = "#">FaceBook</a></li>
        <li class="col"><a href = "#">Whatsapp</a></li>
        <li class="col-4 last"><a href = "#">My Profile</a></li>
    </ul>
    <p>By using this site you can navigate to different social media sites.</p>
</div>