@import "~bootstrap/dist/css/bootstrap.min.css";
/*body {
  font-family: 'Heebo', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color:#DBDBDB;
  overflow-x: hidden;
}*/